.login-container{
    width: 100%;
    max-width: 900px;
    height: 90vh;
    margin: 0 auto;

    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
}

.login-container section.form{
    width: 100%;
    max-width: 350px;
}

.login-container section.form img{
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.login-container section.form form h1{
    font-size: 32px;
    margin-top: 32px;
    color: #d1c9ae;
    background-color: #aaa9bd;
    border-radius: 8px;
}

#logoLogin{
    width: 80%;
    height: auto;
    margin-top: 20px;
}

